
	<nav class="navbar navbar-default">
		<div class="container">
	 		 <div class="navbar-header">
	 			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	 				<span class="sr-only">Toggle navigation</span>
	 				<span class="icon-bar"></span>
	 				<span class="icon-bar"></span>
	 				<span class="icon-bar"></span>
	 			</button>
			 	<a class="navbar-brand" href="index.php">Southeast Asia University</a>
			</div>
			
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li><a href="index.php">Index</a></li>

					<?php if($_SESSION['status'] == "Admin"){ 
					?>
						<li><a href="importstudent.php">Import Student</a></li>
						<li><a href="actlist.php">Manage Activity</a></li>
						<li><a href="actlistManage.php">Manage Showtime</a></li>
						<li><a href="reportRegister.php">Report</a></li>
									
					<? }else{?>

						<li><a href="personal.php">Personal</a></li>
						<li><a href="registerList.php">Register Activity</a></li>

					<?}?>

						<li><a href="logout.php">Logout</a></li>
				</ul>
			</div>
		</nav>
